.navbar {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  align-items: center;
  overflow: auto;
  .cryptoWatcher {
    font-size: 25px;
    margin-right: 100px;
    font-weight: 500;
  }
  .logo {
    width: 200px;
  }
  div {
    display: inline-block;
    margin: 20px;
  }
}

.deneme {
  width: 2%;
  border-radius: 10px;
  border: 5px solid black;
}
