.chartDiv {
  margin-top: 50px;
  margin: 30px;
}

.coinOption {
  display: inline-block;
  // width: 30%;
  text-align: center;
}
.someWrapper {
}

.walletInputParent {
  .walletInput {
    display: inline-block;
    margin: 20px;
  }
}
