.chartDiv {
  margin-top: 50px;
  margin: 30px;
}

.optionWrapper {
  display: block;
  text-align: center;
  .coinOption {
    max-width: 30%;
    text-align: center;
  }
}

.walletInputParent {
  .walletInput {
    display: inline-block;
    margin: 20px;
  }
}
