.converter {
  .leftConverter,
  .rightConverter {
    display: inline-block;
    margin: 30px;
    width: 30%;

    .currencyChoice {
      margin: 30px;
    }
  }

  .threesixtyIcon {
    margin-bottom: -15px;
  }
}
