.App {
  text-align: center;
}

.signClass {
  position: absolute;
  top: 10%;
  right: 20%;
}
.amplifySignOut {
  width: 50px;
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(startYposition);
  }
  100% {
    opacity: 1;
    transform: translateY(endYposition);
  }
}
.amplifyAuthenticator {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 120;
  left: 0;
  top: 0;
  animation: 0.3s ease-out 0s 1 fadeIn;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
